@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
head {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #6d5d6e;
}
body {
  background-color: #e2efff;
  box-sizing: border-box;
}
#main_question {
  text-align: center;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  color: #6d5d6e;
  overflow: hidden;
  background-color: #b0daff;
}

.tabnav tr:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1.5rem 3rem rgba(33, 35, 37, 0.2);
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #474e68;
}

.tabcol {
  color: rgb(58, 71, 58);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.actions {
  display: flex;
}

input[type="radio"] {
  display: none;
}
button {
  width: 150px;
  padding: 10px;
}
.add_form {
  margin-left: 3px;
}
.delete_form {
  margin-left: 3px;
}

.vote-btn {
  background-color: rgb(51, 120, 51);
}

.vote-btn2 {
  background-color: rgb(180, 134, 65);
}
.delete_question-btn {
  background-color: rgb(202, 112, 112);
}
.add_question-btn {
  background-color: rgb(79, 148, 125);
}
